.cm-{
    $font-size: 16px;
    $font-family: 'JetBrains Mono', monospace;
    &gutters, &editor {
        font-size: $font-size;
        font-family: $font-family;
        border: none!important;
        background-color: transparent!important;
    }

    &line {
        font-size: $font-size;
        font-family: $font-family;
        line-height: 1.5;
        height: 100%;
        width: 100%;
    }

    &string {
        color: #a5d6a7;
    }

    &number,
    &boolean,
    &null-undefined {
        color: #81a2be;
    }
    &identifier {
        color: #c5e1a5;
        text-decoration: none;
    }
    &keyword {
        color: #b39ddb;
        font-weight: bold;
    }
    &sqlkeyword {
        color: #4db6ac;
        font-weight: bold;
    }
    &symbol {
        color: #b0bec5;
    }
}